<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Mapa" tabIcon="navigate"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="google" tabIcon="navigate"></ion-tab>
  
</ion-tabs>
