<!--
  Generated template for the GooglePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>google</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div id="map"></div>
  <ion-list no-lines>
    <div>Coordenadas cadastradas</div>
    <button ion-item *ngFor="let vaga of vagas | async" (click)="onListVaga(vaga)">
      <div>{{ "Vaga: " + vaga.numero }}</div>
      <div>{{ vaga.lat }}</div>
      <div>{{ vaga.lng }}</div>
    </button>
  </ion-list>
</ion-content>
