<ion-header>
  <ion-navbar>
    <ion-title align="center">taVago</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
  <button ionic-button block (click)="onSignup()">Sign Up</button>
  <ion-list no-lines>
    <!--button ion-item *ngFor="let user of users | async" (click)="onListUser(user)">
      {{ user.name }}
    </button-->
  </ion-list>
  <br>
  <br>
  <br>
  <br>
  <img src="assets/images/kombi.png">
</ion-content>
