<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h1 text-center>
    <ion-icon class="auth-icon" name="person-add" color="primary"></ion-icon>
  </h1>

  <form [formGroup]= "signupForm" (ngSubmit)="onSubmit(); $event.preventDefault()">

    <ion-item>
      <ion-icon name="person" item-left></ion-icon>
      <ion-input type="text" placeholder="Nome" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="at" item-left></ion-icon>
      <ion-input type="text" placeholder="Username" formControlName="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="mail" item-left></ion-icon>
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock" item-left></ion-icon>
      <ion-input type="password" placeholder="Senha" formControlName="password"></ion-input>
    </ion-item>

    <br>
    <button ion-button full type="submit" [disabled]="signupForm.invalid">Criar conta</button>

  </form>

</ion-content>